<!doctype html>
<html>
  <head>
  	<meta charset="utf-8">
    <title>Busca CEP</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script>
	    function MyCtrl($scope){
	    	$http.get('http://api.postmon.com.br/cep/91370000').success(function(local){
	    		$scope.local_encontrado = local;
	    	});
	    };
    </script>
  </head>
  <body ng-app ng-controller="MyCtrl">
  	<div class="container">
      <h1>Busca CEP</h1>
        Logradouro: <input type="text" ng-model="local_encontrado.logradouro"><br>
        Bairro: <input type="text" ng-model="local_encontrado.bairro"><br>
        Cidade: <input type="text" ng-model="local_encontrado.cidade"><br>
        Estado: <input type="text" ng-model="local_encontrado.estado"><br>
  	</div>
  </body>
</html>